body{
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);

}

.logo{
    text-align: center;
    margin-top: 50px;
}



.valor{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 50vh;
    border-radius: 20px;
    padding: 40px;
}

.resultado{
    width: 40%;
    height: 245px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    margin-left: 400px;
    margin-top: -150px;
    padding: 15px;
    
}
